@model WebApplication.Models.User
@{
    ViewBag.Title = "Registration";
}

    <section>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-7">
                    <div class="registration_form_container bg-dark mt-lg-5">

                        @using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { @class = "registration_form p-5", @id = "registration_form" }))
                        {
                            //html.validation summary
                            @Html.AntiForgeryToken();
                            <h2 class="form-title text-center text-uppercase text-white-50">Create Account</h2>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Fullname, "", new { @class = "form-control firstname", @id = "firstname", @placeholder = "Enter your fullname" })
                                @Html.ValidationMessageFor(m => m.Fullname, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control email", @id = "email", @placeholder = "Enter your email address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control password", @id = "password", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ConfirmPassword, "", new { @class = "form-control confirm_password", @id = "confirm_password", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control" id="submit" aria-describedby="submit" value="Sign up" />
                            </div>
                            <p class="mt-3 text-center text-white text-decoration-none">Don't have an account ? @Html.ActionLink("Login", "/Login", "Account", new { @class = "font-weight-bold" })</p>

                        }
                    </div>
                </div>

            </div>
        </div>
    </section>

